<!DOCTYPE html>

<head>
<title>Some relevant title</title>
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h3 class="mt-5">Spring MVC Hibernate</h3>
            <ul class="list-unstyled">
                <li>Users</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col text-center"><a type="button" th:href="@{/users}" class="btn btn-secondary bg-secondary text-white">Get user list</a></div>
    </div>
</div>

</body>